# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
.venv/

# Python egg metadata
*.egg-info/
*.egg

# Distribution / packaging
build/
dist/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

# Pyre
.pyre/

# VS Code
.vscode/

# dotenv environment variables file
*.env

# Editor swap files
*~
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log

# Node (si frontend JS intégré)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.sqlite3
